%backup%~
emacs.d/elpa
emacs.d/.session
emacs.d/recentf
emacs.d/tramp
emacs.d/ido.last
emacs.d/session.*
emacs.d/new/cedet/
emacs.d/transient/
emacs.d/auto-save-list/
SessionDesktop.el

# temp files directories
cache/
log/
*.swp
.DS_Store
.#*

# editor configs
.vscode
.idea

# zcompile cached files
*.zwc
